body{

margin:0;

font-family:Arial;

background:#eef6ff;

}

.game{

max-width:900px;

margin:auto;

padding:40px;

text-align:center;

}

#score{

font-size:28px;

margin-bottom:20px;

}

#hint{

font-size:80px;

margin:30px;

}

#answer{

display:flex;

justify-content:center;

gap:12px;

margin-bottom:40px;

}

.box{

width:70px;

height:70px;

background:white;

border-radius:18px;

border:3px dashed #aaa;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

}

#letters{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:12px;

}

.letter{

width:70px;

height:70px;

background:#4a90ff;

color:white;

border-radius:18px;

font-size:34px;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

}

button{

padding:15px 30px;

margin:20px;

font-size:20px;

border:none;

border-radius:16px;

cursor:pointer;

}

#message{

font-size:30px;

margin-top:20px;

}

.letter{

transition:.15s;

}

.letter:active{

transform:scale(.9);

}