.progress-card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.progress{

height:16px;

background:#ddd;

border-radius:20px;

overflow:hidden;

margin:15px 0;

}

#progressFill{

height:100%;

width:0;

background:#24B7BD;

transition:.4s;

}

#progressText{

font-weight:600;

}