:root{

--primary:#24B7BD;

--primary-dark:#169ca1;

--background:#f5f7fb;

--card:#ffffff;

--text:#2c3e50;

--light:#666;

--success:#2ecc71;

--warning:#ffb703;

--danger:#e74c3c;

--radius:20px;

}